Q.1 Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.3'

Q.2 Records Count

In [3]:
df = pd.read_csv("C:\\Local D\\Galeri Belajar\\Project\\ML Zoomcamp 2025\\car_fuel_efficiency.csv")
df.shape

(9704, 11)

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

Q3. Fuel Types

In [5]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

Q4. Missing values

In [6]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

Q5. Max fuel efficiency

In [7]:
round(df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max(), 2)

23.76

Q6. Median value of horsepower

In [10]:
median1 = df['horsepower'].median()
mode = df['horsepower'].mode()[0]

print(f"Median: {median1}, Mode: {mode}")

Median: 149.0, Mode: 152.0

In [ ]:
df.fillna(mode, inplace=True)

In [ ]:
median2 = df['horsepower'].median()
print(f"Median is increased from {median1} to {median2}" if median2 > median1 else f"Median remains {median1}")

Median is increased from 149.0 to 152.0

Q7. Sum of weights

In [28]:
df_subset = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']].head(7)
df_subset.head()

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016

In [29]:
X = df_subset.values
print("X shape:", X.shape)

X shape: (7, 2)

In [30]:
XTX = X.T @ X
XTX_inv = np.linalg.inv(XTX)
print("X shape:", X.shape)
print("\nXTX:")
print(XTX)
print("\nXTX inverse:")
print(XTX_inv)

X shape: (7, 2)

XTX:
[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

XTX inverse:
[[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [31]:
# Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print("y:", y)
print("y shape:", y.shape)

y: [1100 1300  800  900 1000 1100 1200]
y shape: (7,)

In [32]:
w = XTX_inv @ X.T @ y
print("w:", w)
print("w shape:", w.shape)

w: [0.01386421 0.5049067 ]
w shape: (2,)

In [35]:
# Calculate the sum of all elements
w_sum = round(np.sum(w), 3)
print(f"Sum of all elements in w: {w_sum}")

Sum of all elements in w: 0.519